<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAtendimento</servlet-name>
        <servlet-class>servlets.AdminAtendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMensagem</servlet-name>
        <servlet-class>servlets.AdminMensagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsuario</servlet-name>
        <servlet-class>servlets.AdminUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServico</servlet-name>
        <servlet-class>servlets.AdminServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>servlets.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteAtendimento</servlet-name>
        <servlet-class>servlets.ClienteAtendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteMensagem</servlet-name>
        <servlet-class>servlets.ClienteMensagem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAtendimento</servlet-name>
        <url-pattern>/AdminAtendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMensagem</servlet-name>
        <url-pattern>/AdminMensagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsuario</servlet-name>
        <url-pattern>/AdminUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServico</servlet-name>
        <url-pattern>/AdminServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteAtendimento</servlet-name>
        <url-pattern>/ClienteAtendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteMensagem</servlet-name>
        <url-pattern>/ClienteMensagem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
